{if !$paypal_test}
	<form action="https://www.paypal.com/cgi-bin/webscr/" method="POST" >
{else}
	<form action="https://www.sandbox.paypal.com/cgi-bin/webscr/" method="POST" >
{/if}
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="{$admin_email}">
<input type="hidden" name="item_name" value="Item Name">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="amount" value="{$subtotal}">
<input type="hidden" name="upload" value="1">


{foreach from=$cart item=item name=paypal_cart}
	<input type = "hidden" name ="item_name_{$smarty.foreach.paypal_cart.iteration}" value="{$item.name}">
	<input type = "hidden" name ="amount_{$smarty.foreach.paypal_cart.iteration}" value="{$item.price}">
	<input type = "hidden" name ="item_number_{$smarty.foreach.paypal_cart.iteration}" value ="{$item.id}">
{/foreach}
<input type="submit" value="Proceed to PayPal" />
</form>