<p>To complete your purchase, you must first sign up for an account.
Signing up is very simple!  Just enter your valid email address below:</p>

<form action="freePurchase" method="POST" />
	<p>
		<label>Email:<br /></label>
		<input type="text" name="email" class="textField" value="<?php echo $invalid_email; ?>" />
		<input type="submit" value="Give Me the Items!" class="buttonSubmit" />
	</p>
    <?php
        if ($invalid_email) {
            echo "<p>You have entered an invalid email address!</p>";
        }
    ?>
</form>
