{foreach from=$items item=item}

	<h2>{$item.name}</h2>
	<img src="{$item.image_url}" class='styleRight' />
	{$item.content}
	
	<div class="clearLeft">
		<object type="application/x-shockwave-flash" data="/dewplayer.swf?mp3={$item.audio_demo}_lq.mp3" width="200" height="20">
		<param name="movie" value="/dewplayer.swf?mp3={$item.audio_demo}_lq.mp3" />
		</object><br />
		<a href="{$item.audio_demo}.mp3">Download Audio Demo</a>
	</div>
	
	{if $item.for_sale}
		<form action = 'index.php' method = "GET">
			<div class="addToCart">
				<p style="margin:0px;">
					$<input type="text" class="textField" name='price' value="25.00" size='3'/>
					<input type='submit' value='Add To Cart' class='buttonSubmit' /><br />
					<span class="priceNotice">Name your price (0.00 and up) -- 25.00 is suggested</span>
				</p>
			</div>
			<input type="hidden" name="add_to_cart" value="true" />
			<input type="hidden" name="item_id" value="{$item.id}" />
		</form>
		<hr />
	{/if}
	
{/foreach}