Thank you for your recent order from AlanMarcero.com

You have purchased the following items:

{foreach from=$cart item=item}
	Name: {$item.name} 
	Download Link: {$item.full_item_url}
{/foreach}

Your purchased item(s) are ready to be downloaded at the above link(s).  At any point you may login here: http://www.alanmarcero.com/customers.php
with your login and password to redownload the patches or download updates.

Your login email: {$email}
Your login password: {$password}

Alan Marcero
http://www.alanmarcero.com